body {
  background-image: url("todo.png");
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;   
  min-height: 100vh;              
}


h1 {
  color: #3d1862;
  padding: 10px;
}


.box {
  max-width: 370px;
  margin-left: 500px;
  margin-top: -20px;
  border-radius: 3px;
  background-color: white;
}
.box1 {
  max-width: 370px;
  margin-left: 590px;
  margin-top: 130px;
  border-radius: 5px;
  background-color: white;
  background-image: url(icon.png);
  background-repeat: no-repeat;
  height: 100px;
}




#heading {
  background-color: white;
  text-align: center;
  margin-left: 500px;
  margin-top: 100px;
  font-size: 18px;
}
.item hr {
  width: 60%;     
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 10px auto; 
} 
input[type="text"] {
  text-align: center;
  height: 40px;
  border: none;
  background: transparent;
  font-size: 30px;
  font-weight: 200;
  width: 313px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 rgb(87, 26, 117);
}

input[type="text"]::placeholder { 
  opacity: 0.7;      
}

::placeholder {
  opacity: 1;
}
p {
  font-size: 20px;
  margin-left: 80px;
  margin-top: -20px;
}
.round {
  position: relative;
}
.round input[type="checkbox"]:checked + label {
  background-color: #7037e9;
  border-color: #7037e9;
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
#b {
  width: 55px;
  height: 50px;
  background-color: rgb(48, 147, 246);
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 36px;
  margin-left: -5px;
  cursor: pointer;
  color: white;
}

form.item {
  text-align: center;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 28px;
  left: 10px;
  border-radius: 50%;
  top: 0;
  width: 28px;
}
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  height: 6px;
  left: 7px;
  opacity: 0;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.clear-all {
  display: block;
  margin: 15px auto;
  padding: 8px 18px;
  background: #3d1862;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.clear-all:hover {
  background: #ad29dd;
  transform: scale(1.05);
}

.clear-all:active {
  transform: scale(0.95);
}

